<section class="work-site-card__addition-site-card addition-site-card">
  <h2 class="addition-site-card__title">С этой услугой так же заказывают</h2>
  <div class="services">
    <div class="services__wrapper">
      <article class="services__wrapper-card card">
        <header>
          <h3 class="card__title">Разработка сайтов</h3>
        </header>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <footer>
          //= ../work/link-description.html
        </footer>
      </article>
      <article class="services__wrapper-card card">
        <header>
          <h3 class="card__title">Разработка сайтов</h3>
        </header>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <footer>
          //= ../work/link-description.html
        </footer>
      </article>
      <article class="services__wrapper-card card">
        <header>
          <h3 class="card__title">Разработка сайтов</h3>
        </header>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <footer>
          //= ../work/link-description.html
        </footer>
      </article>    
    </div>
  </div>
</section>