<div class="cost-block">
  <div class="cost-block__packages">
    <h2 class="visually-hidden">Стоимость разработки</h2>
    <span class="cost-block__package-speed">
      <h3 class="cost-block__package-speed-title">Быстрый старт</h3>
      <h4 class="cost-block__package-speed-cost">30 000 ₽</h4>
    </span>
    <span class="cost-block__package-individual">
      <h3 class="cost-block__package-individual-title">Индивидуальная разработка</h3>
      <h4 class="cost-block__package-individual-cost">60 000 ₽</h4>
    </span>
  </div>
  <button class="cost-block__button">Оставить заявку</button>
</div>