<div class="included-price">
  <ul class="included-price__list">
    <li class="included-price__list-item"><span class="included-price__list-item-text">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайтаготового решения</span></li>
    <li class="included-price__list-item"><span class="included-price__list-item-text">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайтаготового решения</span></li>
    <li class="included-price__list-item"><span class="included-price__list-item-text">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайтаготового решения</span></li>
  </ul>
  <button class="included-price__button-more" type="button">Показать еще</button>
</div>