<section class="work-site-card__our-advantages our-advantages">
  <h2 class="our-advantages__title">Почему с нами выгодно работать?</h2>
  <ul class="our-advantages__list">
    <li class="our-advantages__list-item our-advantages__list-item--romb">
      <h3 class="our-advantages__list-item-title">6 лет <br> на рынке</h3>
      <span class="our-advantages__list-item-subtitle">Подключаем кураторов с опытом 50+ проектов</span>
    </li>
    <li class="our-advantages__list-item our-advantages__list-item--square">
      <h3 class="our-advantages__list-item-title">Более <br> 300 проектов</h3>
      <span class="our-advantages__list-item-subtitle">Оплата после выполнения спринта</span>
    </li>
    <li class="our-advantages__list-item our-advantages__list-item--circle our-advantages__list-item--wide">
      <h3 class="our-advantages__list-item-title">Делаем сайты <br> от визитки до маркетплэйса</h3>
      <span class="our-advantages__list-item-subtitle">за счет трекинга активности</span>
    </li>
    <li class="our-advantages__list-item our-advantages__list-item--square-rotate">
      <h3 class="our-advantages__list-item-title">Стоимость часа <br> 1300₽</h3>
      <span class="our-advantages__list-item-subtitle">Оплата после выполнения спринта</span>
    </li>
    <li class="our-advantages__list-item our-advantages__list-item--star">
      <h3 class="our-advantages__list-item-title">Гарантированная <br> сдача в срок</h3>
      <span class="our-advantages__list-item-subtitle">оплата после выполнения спринта</span>
    </li>
  </ul>
</section>