<section class="work-site-card__our-work our-work">
  <h2 class="our-work__title">Наши работы</h2>
  <div class="our-work__wrapper list-our-work">
    <article class="list-our-work__item our-work-item">
      <header class="our-work-item__header">
        <h3 class="visually-hidden">Компания Google</h3>
        <img class="our-work-item__image" src="images/google-logo.png" alt="Логотип компании Google">
      </header>
      <span class="our-work-item__visitors">
        <span class="our-work-item__visitors-count">60 млн. +</span>
        <span class="our-work-item__visitors-text">Уникальных посетителей в месяц</span>
      </span>
      <footer>
        <span class="our-work-item__description">Установка 1С-Битрикс, готового решения, базовая настройка</span>
      </footer>
    </article>
    <article class="list-our-work__item our-work-item">
      <header class="our-work-item__header">
        <h3 class="visually-hidden">Компания Google</h3>
        <img class="our-work-item__image" src="images/google-logo.png" alt="Логотип компании Google">
      </header>
      <span class="our-work-item__visitors">
        <span class="our-work-item__visitors-count">60 млн. +</span>
        <span class="our-work-item__visitors-text">Уникальных посетителей в месяц</span>
      </span>
      <footer>
        <span class="our-work-item__description">Установка 1С-Битрикс, готового решения, базовая настройка</span>
      </footer>
    </article>
    <article class="list-our-work__item our-work-item">
      <header class="our-work-item__header">
        <h3 class="visually-hidden">Компания Google</h3>
        <img class="our-work-item__image" src="images/google-logo.png" alt="Логотип компании Google">
      </header>
      <span class="our-work-item__visitors">
        <span class="our-work-item__visitors-count">60 млн. +</span>
        <span class="our-work-item__visitors-text">Уникальных посетителей в месяц</span>
      </span>
      <footer>
        <span class="our-work-item__description">Установка 1С-Битрикс, готового решения, базовая настройка</span>
      </footer>
    </article>
    <article class="list-our-work__item our-work-item">
      <header class="our-work-item__header">
        <h3 class="visually-hidden">Компания Google</h3>
        <img class="our-work-item__image" src="images/google-logo.png" alt="Логотип компании Google">
      </header>
      <span class="our-work-item__visitors">
        <span class="our-work-item__visitors-count">60 млн. +</span>
        <span class="our-work-item__visitors-text">Уникальных посетителей в месяц</span>
      </span>
      <footer>
        <span class="our-work-item__description">Установка 1С-Битрикс, готового решения, базовая настройка</span>
      </footer>
    </article>
  </div>
</section>