<div class="package-advantages">
  <h3 class="package-advantages__title">Преимущества</h3>
  <ul class="package-advantages__list">
    <li class="package-advantages__list-item">
      <h4 class="package-advantages__list-item-title">Бесплатно</h4>
      <span class="package-advantages__list-item-subtitle">Подключаем кураторов с опытом 50+ проектов</span>
    </li>
    <li class="package-advantages__list-item">
      <h4 class="package-advantages__list-item-title">Без предоплаты</h4>
      <span class="package-advantages__list-item-subtitle">Оплата после выполнения спринта</span>
    </li>
    <li class="package-advantages__list-item">
      <h4 class="package-advantages__list-item-title">100% эффективность</h4>
      <span class="package-advantages__list-item-subtitle">за счет трекинга активности</span>
    </li>
    <li class="package-advantages__list-item">
      <h4 class="package-advantages__list-item-title">До 2-х нед.</h4>
      <span class="package-advantages__list-item-subtitle">на подключение новых специалистов</span>
    </li>
    <li class="package-advantages__list-item">
      <h4 class="package-advantages__list-item-title">2-х недельная гарантия возврата средств</h4>
      <span class="package-advantages__list-item-subtitle">при подключении новых разработчиков</span>
    </li>
  </ul>
</div>