.about {
  &__content {
    @include before-mobile {
      height: 100vh;
      background-color: var(--main-orange);
      width: 100%;
      padding-left: 20px;
    }
  }
  &__content-list {
    @include after-tablet {
    }
  }
  &__addition {
    @include before-mobile {
      display: none;
    }
  }
  &__addition-work {
    @include after-tablet {
      @include adaptive-font(40px, 767px, 107px, 1920px);
      display: block;
      transform: rotate(-90deg);
      width: 100%;
      position: absolute;
      top: calc(58% - 262px);
      font-weight: 500;
      max-width: 525px;
      line-height: 1.2;
      color: var(--main-white);
    }
  }
  &__addition-projects {
    @include after-tablet {
      line-height: 1;
      color: var(--main-white);
      position: absolute;
      // bottom: calc(23.5% - 92px);
      bottom: 18%;
      transform: translateY(50%);
    }
  }
  &__addition-project-count {
    @include after-tablet {
      @include adaptive-font(40px, 767px, 83.5px, 1920px);
      font-weight: 800;
      display: block;
    }
  }
  &__addition-project-text { 
    @include after-tablet {
      @include adaptive-font(20px, 767px, 41.5px, 1920px);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}