@include after-tablet {
  .hint-scroll {
    position: fixed;
    left: 36%;
    bottom: 40px;
    height: 53px;
    width: 40px;
    cursor: pointer;
    border: 3px solid var(--scroll-black);
    border-radius: 20px;
    &--on {
      display: block;
    }
    &--off {
      display: none;
    }
    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      width: 14px;
      height: 14px;
      border-right: 3px solid;
      border-bottom: 3px solid;
      transform: rotate(45deg);
      animation: moveDown 1s linear 0s infinite;
    }
    @keyframes moveDown {
      0% {
        transform:rotate(45deg) translate(0, 9px);
        opacity:0;
      }
      50% {
        transform:rotate(45deg) translate(3px, 12px);
        opacity:.5;
      }
      100% {
        transform:rotate(45deg) translate(9px, 18px);
        opacity:.1;
      }
    }
    &::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 50%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--scroll-black);
      transform: translateX(-50%);
    }
  }
}