.logo {
  // font-size: 42px;
  @include adaptive-font(32px, $mobile-width-only, 42px, $desktop-width);
  line-height: 42px;
  &__text--main,
  &__text--scroll {
    display: block;
    width: 164px;
    top: 0;
  }
  &__first {
    color: var(--main-orange);
    font-weight: 900;
  }
  &__second {
    color: var(--main-black);
    font-weight: 500;
  }
}
.logo__text--main.logo__text--off {
  position: absolute;
}
.logo__text--main.logo__text--off .logo__first {
  animation-name: move-right;
  animation-duration: 0.5s;
  position: absolute;
  animation-fill-mode: forwards;
}
.logo__text--main.logo__text--off .logo__second {
  animation-name: move-left;
  animation-duration: 0.5s;
  position: absolute;
  right: -110px;
  animation-fill-mode: forwards;
}
.logo__text--main.logo__text--on .logo__first {
  animation-name: move-left--on;
  animation-duration: 0.5s;
  position: relative;
  animation-fill-mode: forwards;
}
.logo__text--main.logo__text--on .logo__second {
  animation-name: move-right--on;
  animation-duration: 0.5s;
  position: relative;
  animation-fill-mode: forwards;
}
@keyframes move-right {
  0% {
    left: 0;
  }
  100% {
    left: 50px;
    opacity: 0;
  }
}
@keyframes move-left {
  0% {
    left: 0;
  }
  100% {
    left: -10px;
    opacity: 0;
  }
}
@keyframes move-left--on {
  0% {
    opacity: 0;
    left: 60px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes move-right--on {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

.logo__text--scroll.logo__text--off {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.logo__text--scroll.logo__text--on {
  position: absolute;
  opacity: 1;
  transition: 0.5s;
}