.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50vh;
  width: 5%;
  max-width: 70px;
  @include before-tablet {
    display: none;
  }
  &--orange {
    background: var(--main-orange);
  }
  &__number {
    color: var(--main-white);
    text-align: center;
    font: 26px/50vh "Futura PT Book";
    display: block;
  }
  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    height: 25%;
    width: 85%;
    cursor: pointer;
    left: 8%;
  }
  &__button-up {
    top: 18%;
  }
  &__button-down {
    bottom: 18%;
    transform: rotate(180deg);
  }
  @include arrow;
}