.about {
  &__content {
    // z-index: -2;
    @include before-mobile {
      background-color: $orange;
      width: 100%;
      padding-left: 20px;
    }
  }
  &__content-list {
    // z-index: -1;
    @include after-tablet {
      // padding-left: 47px;
    }
  }
  &__addition {
    @include before-mobile {
      display: none;
    }
  }
  &__addition-work {
    @include after-tablet {
      @include adaptive-font(40px, 767px, 107px, 1920px);
      display: block;
      transform: rotate(-90deg);
      font-weight: 500;
      max-width: 525px;
      line-height: 1.2;
      color: #fff;
    }
  }
  &__addition-projects {
    @include after-tablet {
      margin-top: 133px;
      line-height: 1;
      color: #fff;
    }
  }
  &__addition-project-count {
    @include after-tablet {
      @include adaptive-font(40px, 767px, 83.5px, 1920px);
      font-weight: 800;
      display: block;
    }
  }
  &__addition-project-text { 
    @include after-tablet {
      @include adaptive-font(20px, 767px, 41.5px, 1920px);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}