.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: block;
    width: 70px;
    height: 40px;
    cursor: pointer;
    border: none;
  }
  &__phone {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    // background: #f46e60 url(../../images/icons/phone.png);
    // background-repeat: no-repeat;
    // background-position: center center;
    background-color: #fff;
    border: none;
    // border-radius: 50%;
  }
  &__phone-text span {
    display: none;
  }
  &__phone-text {
    // display: none;
    position: relative;
    padding-left: 40px;
    min-height: 40px;
  }
  &__phone-text::before {
    content: "";
    background-color: #f46e60;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
  }
  &__phone-text::after {
    content: "";
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../../images/icons/phone.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-menu {
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: linear-gradient(227deg,#252321,#161515);
    height: 100vh;
    width: 100vh;
  }
  .main-nav {
    &__logo {
      display: block;
      margin: 0 auto;
      max-width: 160px;
    }
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
    z-index: 2;
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
    z-index: 2;
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: $mobile-width-only) {
  .main-nav {
    width: 100%;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 130px;
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__phone {
      position: relative;
      width: 240px;
      border-radius: 20px;
    }
    &__phone-text {
      max-width: 200px;
      margin-left: auto;
      padding: 5px 0 5px 55px;
    }
    &__phone-text span {
      display: block;
      text-align: left;
    }
    &__phone-number {
      font-size: 18px;
      line-height: 18px;
    }
    &__phone-description {
      font-size: 16px;
      line-height: 16px;
      color: #a7a7a7;
    }
  }
  .main-nav__toggle {
    display: none;
  }
}