.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  @include after-tablet {
    width: 100%;
    margin: 0 auto;
    margin-left: 3.5%;
    margin-right: 5%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo {
    width: 164px;
    text-align: center;
  }
  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: block;
    width: 70px;
    height: 40px;
    border: none;
    @include after-tablet {
      display: none;
    }
  }
  &__phone {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    @include after-tablet {
      position: relative;
      width: 220px;
      border-radius: 40px;
      min-height: 69px;
      font: 18px/1 "Futura PT Book";
      box-shadow: 0 8px 49px 0 rgba(255,255,255,.36);
    }
  }
  &__phone-number {
    @include after-tablet {
      font-size: 18px;
      line-height: 18px;
      color: #000;
    }
  }
  &__phone-icon-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
  }
  &__phone-text span {
    display: none;
    @include after-tablet {
      display: block;
      text-align: left;
    }
  }
  &__phone-text {
    position: relative;
    padding-left: 40px;
    min-height: 40px;
    @include after-tablet {
      margin-top: 14px;
      max-width: 200px;
      margin-left: auto;
      padding: 5px 0 5px 55px;
    }
  }
  &__phone-text-button {
    @include after-tablet {
      font-size: 16px;
      line-height: 16px;
      color: #a7a7a7;
      border: none;
      background: transparent;
      padding: 0;
    }
  }
  &__phone-text::before {
    content: "";
    background-color: #f46e60;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 0;
    left: -5px;
    position: absolute;
  }
  &__phone-text::after {
    content: "";
    height: 40px;
    width: 40px;
    top: 8px;
    left: 4px;
    position: absolute;
    @include sprite($phone);
    background-repeat: no-repeat;
  }
}
@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-menu {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background: linear-gradient(227deg,#252321,#161515);
    animation-name: nav-mobile;
    animation-duration: 1s;
    transition: 1s;
  }
  @keyframes nav-mobile {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .page-header--opened ~ .page-main {
    animation-name: body-size-small;
    animation-duration: 1s;
  }
  @keyframes body-size-small {
    0% {
      transform: scale(1);
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: scale(0.7);
      opacity: 0;
    }
  }
  .page-header--closed ~ .page-main {
    animation-name: body-size-big;
    animation-duration: 0.7s;
  }
  @keyframes body-size-big {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .main-nav {
    &__logo {
      display: block;
      margin: 0 auto;
      max-width: 170px;
    }
    &__phone-number {
      display: none;
    }
    &__phone-text-button {
      display: none;
    }
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000;
    animation-name: menu-open-rotate-left;
    animation-duration: 1s;
  }
  .main-nav--closed .main-nav__toggle::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
    animation-name: menu-open-rotate-right;
    animation-duration: 1s;
  }
  @keyframes menu-open-rotate-left {
    0% {
      opacity: 0;
      transform: rotate(45deg);
      background-color: #fff;
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
      background-color: #000;
    }
  }
  @keyframes menu-open-rotate-right {
    0% {
      opacity: 0;
      transform: rotate(-45deg);
      background-color: #fff;
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
      background-color: #000;
    }
  }
  .main-nav--opened .main-nav__toggle::before, 
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 36px;
    height: 2px;
    box-shadow: none;
    z-index: 2;
    background-color: #fff;
    transition: 2s;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    animation-name: menu-close-rotate-left;
    animation-duration: 1s;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(135deg);
    animation-name: menu-close-rotate-right;
    animation-duration: 1s;
  }
}
@keyframes menu-close-rotate-right {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(135deg);
  }
}
@keyframes menu-close-rotate-left {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}