.main-menu {
  list-style: none;
  @include after-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    max-width: 500px;
  }
  &__item {
    @include before-mobile {
      position: relative;
      padding-left: 30px;
      &::before {
        content: '';
        position: absolute;
        top: 19px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #fff;
      }
    }
  }
  &__item-link {
    @include before-mobile {
      font-size: 28px;
      line-height: 40px;
    }
    @include after-tablet {
      font-weight: 300;
      @include adaptive-font(15px, 767px, 20px, 1920px);
      line-height: 40px;
      color: #a7a7a7;
    }
  }
  &__item-link--current {
    @include after-tablet {
      color: #303030;
    }
  }
  &__item--addition {
    @include before-mobile {
      display: none;
    }
  }
  &__item-link--addition {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    top: 5px;
  }
  &__item-link--addition::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: $orange;
    border-radius: 50%;
  }
  &__item-link--addition::after {
    content: "...";
    color: #fff;
    position: absolute;
    left: 7px;
    top: -10px;
  }
  &__item-link {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
  }
}

.main-nav .main-menu__item {
  opacity: 0;
  transform: translateX(50px);
}
.main-nav.main-nav--opened .main-menu__item {
  opacity: 1;
  transform: translateX(0);
  transition: .2s .3s ease;
  &:nth-child(2) {
    transition-delay: .35s;
  }
  &:nth-child(3) {
    transition-delay: .4s;
  }
  &:nth-child(4) {
    transition-delay: .45s;
  }
  &:nth-child(5) {
    transition-delay: .5s;
  }
}