.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  &__logo {
    width: 164px;
    text-align: center;
  }
  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: block;
    width: 70px;
    height: 40px;
    border: none;
  }
  &__phone {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
  }
  &__phone-icon-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
  }
  &__phone-text span {
    display: none;
  }
  &__phone-text {
    position: relative;
    padding-left: 40px;
    min-height: 40px;
  }
  &__phone-text::before {
    content: "";
    background-color: #f46e60;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 0;
    left: -5px;
    position: absolute;
  }
  &__phone-text::after {
    content: "";
    height: 40px;
    width: 40px;
    top: 8px;
    left: 4px;
    position: absolute;
    @include sprite($phone);
    background-repeat: no-repeat;
  }
}
@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-menu {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background: linear-gradient(227deg,#252321,#161515);
  }
  .main-nav {
    &__logo {
      display: block;
      margin: 0 auto;
      max-width: 170px;
    }
    &__phone-number {
      display: none;
    }
    &__phone-text-button {
      display: none;
    }
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  }
  .main-nav--opened .main-nav__toggle::before, 
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    box-shadow: none;
    z-index: 2;
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
}
@media (min-width: $mobile-width-only) {
  .main-nav {
    width: 100%;
    margin: 0 auto;
    margin-left: 3.5%;
    margin-right: 5%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    &__phone {
      position: relative;
      width: 220px;
      border-radius: 40px;
      min-height: 69px;
      font: 18px/1 "Futura PT Book";
      box-shadow: 0 8px 49px 0 rgba(255,255,255,.36);
    }
    &__phone-text {
      margin-top: 14px;
      max-width: 200px;
      margin-left: auto;
      padding: 5px 0 5px 55px;
    }
    &__phone-text span {
      display: block;
      text-align: left;
    }
    &__phone-number {
      font-size: 18px;
      line-height: 18px;
      color: #000;
    }

    &__phone-text-button {
      font-size: 16px;
      line-height: 16px;
      color: #a7a7a7;
      border: none;
      background: transparent;
      padding: 0;
    }
  }
  .main-nav__toggle {
    display: none;
  }
}