.night-mode {
  @include before-mobile {
    display: none;
  }
  position: fixed;
  bottom: 20px;
  left: 85%;
  box-shadow: 0 -8px 49px 0 rgba(255,255,255,.36);
  border-radius: 30px;
  width: 80px;
  height: 40px;
  &__toggle {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 36px;
      top: 2px;
      width: 36px;
      border-radius: 50%;
    }

    &--off {
      background-color: var(--main-white);
      &::before {
        left: 2px;
        background-color: var(--main-orange);
      }
    }
    &--on {
      background-color: var(--night-mode-black);
      &::before {
        right: 2px;
        background-color: var(--main-white);
      }
    }
  }
}