.page-header {
  z-index: 1;
  display: flex;
  padding: 30px 0;
  width: 100%;
  max-width: 1920px;
  position: fixed;
  @include before-mobile {
    background-color: var(--main-white);
    min-height: 62px;
    padding: 10px 0;
  }
  &__main-menu {
    margin: 0;
    padding: 0;
    @include before-mobile {
      // display: none;
      position: absolute;  //Not work animation when use display: none TODO:
      padding-top: 90px;
      padding-left: 50px;
      z-index: -1;
    }
  }
}