.page-header {
  display: flex;
  padding: 10px 0;
  width: 100%;
  max-width: 1920px;
  position: fixed;
  &__main-menu {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: $mobile-width-only) {
  .page-header {
    background-color: #fff;
    &__main-menu {
      display: none;
      padding-top: 60px;
      padding-left: 50px;
    }
  }
}
