.service-block {
  &__title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
  &__content {
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    @include adaptive-font(30px, 767px, 110px, 1920px);
    line-height: 1.05;
    font-family: "Futura PT Book";
  }
  &__subtitle {
    line-height: 1.3;
    font-weight: 300;
    @include adaptive-font(16px, 767px, 20px, 1920px);
    color: $greyish;
  }
}
@media (max-width: $mobile-width-only) {
  .service-block {
    &__content {
      background-color: $denim-blue;
      width: 100%;
      color: #fff;
    }
    &__title-wrapper {
      flex-wrap: wrap;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__subtitle {
      color: #fff;
      margin-bottom: 15px;
    }
    &__addition {
      display: none;
    }
  }
}
@media (min-width: $tablet-width) {
  .service-block {
    &__addition {
      &--development {
        background-color: $denim-blue;
      }
      &--design {
        background-color: $charcoal-grey;
      }
      &--support {
        background-color: $green;
      }
      &--advertising {
        background-color: $light-grey-blue;
      }
    }
    &__content {
      padding-left: 6%;
    }
    &__title-wrapper {
      margin-bottom: 170px;
    }
    &__title {
      max-width: 435px;
    }
    &__subtitle {
      max-width: 573px;
    }
  }
}