.service-block {
  &__title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1072px;
    @include before-mobile {
      flex-wrap: wrap;
    }
    @include after-tablet {
      margin-bottom: 142px;
    }
  }
  &__content {
    flex-direction: column;
    justify-content: center;
    @include before-mobile {
      background-color: var(--main-blue);
      width: 100%;
      color: var(--main-white);
    }
    @include after-tablet {
      padding-left: 6%;
    }
  }
  &__content-wrapper {
    @include after-tablet {
      width: 100%;
      max-width: 83%;
      margin-top: 129px;
      margin-left: 49px;
    }
  }
  &__title {
    @include adaptive-font(30px, 767px, 110px, 1920px);
    line-height: 1.05;
    font-family: "Futura PT Book";
    @include before-mobile {
      margin-bottom: 10px;
    }
    @include after-tablet {
      max-width: 525px;
    }
    @include after-desktop {
      margin-top: -16px;
    }
  }
  &__subtitle {
    line-height: 1.7;
    font-weight: 300;
    @include adaptive-font(16px, 767px, 20px, 1920px);
    color: var(--menu-gray);
    @include before-mobile {
      color: var(--main-white);
      margin-bottom: 15px;
      line-height: 1.3;
    }
    @include after-tablet {
      max-width: 461px;
    }
  }
  &__addition {
    @include before-mobile {
      display: none;
    }
    @include after-tablet {
      &--development {
        background-color: var(--main-blue);
      }
      &--design {
        background-color: var(--main-light-grey);
      }
      &--support {
        background-color: var(--main-green);
      }
      &--advertising {
        background-color: var(--main-light-grey);
      }
    }
  }
}