.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  &:hover .services-list__item-link:not(:hover) {
    color: var(--menu-gray);
    transition: all 0.3s ease-in-out;
  }
  @include after-desktop {
    margin-left: -75px;
  }
  &__item-link {
    color: var(--main-black);
    font-size: 28px;
    // text-transform: uppercase;
    position: relative;
    @include before-mobile {
      color: var(--main-white);
      font-weight: 300;
      line-height: 1.3;
    }
    @include after-tablet {
      font-family: "Futura PT Book";
      @include adaptive-font(28px, 320px, 110px, 1920px);
      line-height: 1.23;
    } 
    // TODO: Doesn't work animation
    &::before,
    &::after {
      opacity: 0;
    }
    &:hover::before,
    &:hover::after {
      opacity: 1;
      -webkit-transition: all 3s;
      transition: all 3s;
    }
    //
    &:hover::before {
      content: "";
      position: absolute;
      right: -25px;
      top: calc(61% - 5px);
      width: 20px;
      height: 10px;
      background-color: var(--main-black);
    }
    &:hover::after{
      content: "";
      right: -49px;
      top: calc(61% - 12px);
      position: absolute;
      border-style: solid;
      border-width: 12px;
      border-color: transparent transparent transparent var(--main-black);
    }
  }
}