<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>

  <link rel="stylesheet" href="css/main.min.css" />
</head>
<body class="main-body">
  <header class="page-header">
    //= components/header.html
  </header>
  <main class="page-main">
    //= components/about.html
    //= components/development.html
    <!-- //= components/design.html -->
    <!-- //= components/support.html -->
    <!-- //= components/advertising.html -->

    //= components/navigation.html
    //= components/night-mode.html
  </main>
  //= components/popup-call.html
  //= components/popup-addition.html
  //= components/popup-application.html
  //= components/scripts.html
</body>
</html>