<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>

  <link rel="stylesheet" href="css/main.min.css" />
</head>
<body class="main-body">
  <header class="page-header">
    //= components/index/header.html
  </header>
  <main class="page-main">
    //= components/index/about.html
    //= components/index/development.html
    //= components/index/design.html
    //= components/index/support.html
    //= components/index/advertising.html

    //= components/index/navigation.html
    //= components/index/night-mode.html
  </main>
  //= components/index/popup-call.html
  //= components/index/popup-addition.html
  //= components/index/popup-application.html
  //= components/index/scripts.html
</body>
</html>