<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Разработка сайта визитки</title>

  <link rel="stylesheet" href="css/main.min.css" />
</head>
<body class="work-card-body">
  <!-- <header></header> -->
  <main class="page-work-card">
    //= components/work-card/bread-crumb.html
    //= components/work-card/about.html
    //= components/work-card/services.html
  </main>
  <footer></footer>
</body>
</html>