<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Разработка сайта визитки</title>

  <link rel="stylesheet" href="css/main.min.css" />
</head>
<body class="work-body">
  <header class="work-site-header">
    //= components/work/work-header.html
  </header>
  <main class="page-work work-site-card">
    //= components/work/bread-crumb.html
    //= components/work-site-card/about-site-card.html
    //= components/work-site-card/package-content.html
    <!-- //TODO: Add width-block -->
    //= components/work-site-card/our-work.html
    //= components/work-site-card/our-advantages.html
    <!-- //= components/work-site-card/leave-request.html -->
  </main>
  <footer class="footer-work">
    //= components/work/footer.html
  </footer>
  //= components/work/scripts.html
</body>
</html>