.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__mail {
    @include adaptive-font(18px, $mobile-width-only, 30px, $desktop-width);
    font-weight: 900;
    line-height: normal;
    color: var(--main-blue);
    text-align: right;
    display: block;
    text-decoration: underline;
    @include before-mobile {
      text-align: center;
    }
  }
  &__phone {
    @include adaptive-font(18px, $mobile-width-only, 30px, $desktop-width);
    font-weight: 900;
    line-height: normal;
    color: var(--main-black);
    text-align: right;
    display: block;
    @include before-mobile {
      text-align: center;
    }
  }
}