.footer-work-card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: var(--footer-gray);
  padding: 4.8% 2% 3% 2%;
  @include before-mobile {
    display: block;
  }
  &__wrapper-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-between;
  }
  &__wrapper-main-image {
    display: block;
    max-width: 220px;
  }
  &__wrapper-main-copyright {
    @include adaptive-font(12px, $mobile-width-only, 20px, $desktop-width);
    font-weight: normal;
    color: var(--main-black);
    padding: 16px 0;
    &-year {
      line-height: 3.25;
      text-transform: uppercase;
      display: block;
    }
    &-text {
      line-height: 1.5;
      display: block;
    }
  }
  &__wrapper-main {
    display: flex;
    flex-direction: column;
    @include before-mobile {
      width: 225px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__wrapper-social {
    @include before-mobile {
      width: 225px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__wrapper-main-copyright {
    margin-top: auto;
  }
}
.footer-menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list-item-link {
    padding: 0 10px;
    font-size: 24px;
    @include adaptive-font(14px, $mobile-width-only, 24px, $desktop-width);
    line-height: 2.71;
    color: var(--main-black);
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__mail {
    @include adaptive-font(18px, $mobile-width-only, 30px, $desktop-width);
    font-weight: 900;
    line-height: normal;
    color: var(--main-blue);
    text-align: right;
    display: block;
    text-decoration: underline;
    @include before-mobile {
      text-align: center;
    }
  }
  &__phone {
    @include adaptive-font(18px, $mobile-width-only, 30px, $desktop-width);
    font-weight: 900;
    line-height: normal;
    color: var(--main-black);
    text-align: right;
    display: block;
    @include before-mobile {
      text-align: center;
    }
  }
}
.list-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 16px 0;
  &__item-link {
    padding-right: 16px;
    & svg {
      fill: var(--list-social-gray);
    }
  }
}