.services {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
    grid-column-gap: 45px;
    @include before-mobile {
      display: block;
    }
  }
  &__list-item {
    margin-bottom: 51px;
    padding: 8% 8% 7% 7%;
    border-radius: 20px;
    box-shadow: -17.3px 16.7px 70px 0 rgba(0, 0, 0, 0.06);
    @include before-mobile {
      margin: 0 auto;
      margin-bottom: 21px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      border-radius: 20px;
      box-shadow: -39.6px 38.2px 136px 0 rgba(0, 0, 0, 0.39);
      background-color: var(--services-black);
    }
    &:hover > .card {
      color: var(--main-white);
    }
  }
}
