.services {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include before-mobile {
      display: block;
    }
  }
  &__list-item {
    margin-bottom: 51px;
    padding: 6.1% 2.2% 5.2% 2.2%;
    border-radius: 20px;
    box-shadow: -17.3px 16.7px 70px 0 rgba(0, 0, 0, 0.06);
    flex: 1 1 31%;
    margin-right: 2.5%;
    @include before-mobile {
      margin: 0 auto;
      margin-bottom: 21px;
    }
    &:nth-child(3n) {
      @include after-tablet {
        margin-right: 0;
      }
    }
    &:hover {
      border-radius: 20px;
      box-shadow: -39.6px 38.2px 136px 0 rgba(0, 0, 0, 0.39);
      background-color: var(--services-black);
    }
    &:hover > .card {
      color: var(--main-white);
    }
  }
}
.card {
  color: var(--main-black);
  &__title {
    @include adaptive-font(16px, 767px, 82.5px, 1920px);
    font-weight: 600;
    line-height: 1;
    color: inherit;
    // padding-bottom: 49px;
    padding-bottom: 9%;
    border-bottom: 4px solid var(--main-peach);
    // margin-bottom: 76px;
    margin-bottom: 14%;
    @include before-mobile {
      padding-bottom: 4%;
      margin-bottom: 6%;
    }
  }
  &__subtitle {
    @include adaptive-font(14px, 767px, 30px, 1920px);
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
    display: block;
    @include after-tablet {
      // margin-bottom: 85px;
      margin-bottom: 16%;
    }
  }
  &__link {
    width: 50%;
    line-height: 66px;
    color: var(--main-peach);
    @include before-mobile {
      line-height: 60px;
      width: 120px;
    }
  }
}
.page-work-card {
  padding: 0 3.7%;
  &__bread-crumb {
    margin: 5% 0;
  }
  &__about {
    margin-bottom: 100px;
    @include before-mobile {
      margin-bottom: 50px;
    }
  }
  &__services {
    margin-bottom: 208px;
    @include before-mobile {
      margin-bottom: 50px;
    }
  }
}