.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include before-mobile {
    display: block;
  }
  &__aside {
    max-width: 860px;
    width: 100%;
    flex-basis: 50%;
  }
  &__aside-title {
    @include adaptive-font(28px, 767px, 100.5px, 1920px);
    line-height: 1;
    font-weight: 600;
    color: var(--main-black);
    margin-bottom: 52px;
  }
  &__aside-description {
    @include adaptive-font(14px, 767px, 19.5px, 1920px);
    max-width: 744px;
    font-weight: normal;
    line-height: 1.74;
    color: var(--main-black);
    @include after-tablet {
      margin-right: 80px;
    }
    @include before-mobile {
      margin-bottom: 10px;
    }
  }
  &__sale {
    background: center/cover no-repeat url('../images/work-sale.jpg') var(--main-black);
    padding: 3% 6.1%;
    flex-basis: 50%;
    max-width: 890px;
  }
  &__sale-title {
    @include adaptive-font(20px, 767px, 82.5px, 1920px);
    font-weight: normal;
    line-height: 1;
    color: var(--main-white);
    max-width: 406px;
    display: block;
  }
  &__sale .link-description {
    max-width: 145px;
    width: 22%;
  }
}