<section class="page-main__service-block service-block screen">
  <div class="service-block__content screen__main">
    <div class="service-block__content-wrapper">
      <div class="service-block__title-wrapper">
        <h2 class="service-block__title">Разработка дизайна</h2>
        <p class="service-block__subtitle">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст</p>
      </div>
      //= form-send.html
    </div>
  </div>
  <div class="screen__addition service-block__addition service-block__addition--design">
    <ul class="addition-nav">
      <li class="addition-nav__item"><a class="addition-nav__item-link" href="#">Интернет-магазин</a></li>
      <li class="addition-nav__item"><a class="addition-nav__item-link" href="#">Каталог</a></li>
      <li class="addition-nav__item"><a class="addition-nav__item-link" href="#">Корпоративный сайт</a></li>
      <li class="addition-nav__item"><a class="addition-nav__item-link" href="#">Сайт визитка</a></li>
      <li class="addition-nav__item"><a class="addition-nav__item-link" href="#">Лендинг</a></li>
    </ul>
  </div>
</section>