<form class="form-send form-send--screen form-send--development" method="post" action="">
  <div class="form-send__item-wrapper form-send__item-wrapper-name form-send__item-wrapper--screen">
    <input class="form-send__field form-send__field--development form-send__name" type="text" name="full-name" placeholder="Имя">
    <input class="form-send__field form-send__field--development form-send__phone" type="text" name="phone" placeholder="Телефон">
  </div>
  <div class="form-send__item-wrapper">
    <a class="form-send__link form-send__link--development" href="#">Я согласен на обработку персональных данных</a>
    <button class="form-send__button-send" type="button" aria-label="Отправить заявку">Оставить заявку</button>
  </div>
</form>