<section class="popup-addition popup-addition--closed">
  <div class="popup-addition__wrapper">
    <button class="popup-addition__closed" aria-label="Закрыть окно формы"></button>
    <div class="">
      <h2 class="popup-call__title">Заказать звонок</h2>
      <form class="popup-call__form form-send" method="post" action="" enctype="multipart/form-data">
        <input class="form-send__field form-send__field--popup form-send__field--popup-addition form-send__name" type="text" name="full-name" placeholder="Имя">
        <input class="form-send__field form-send__field--popup form-send__field--popup-addition form-send__phone" type="text" name="phone" placeholder="Телефон">
        <a class="form-send__link form-send__link--popup form-send__link--popup--addition" href="#">Я согласен на обработку персональных данных</a>
        <button class="form-send__button-send" aria-label="Отправить заявку">Оставить заявку</button>
      </form>
    </div>
    <div class="popup-addition__menu">
      <ul class="popup-addition__menu-list">
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">Портфолио</a></li>
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">Услуги</a></li>
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">О нас</a></li>
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">Отзывы</a></li>
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">Контакты</a></li>
        <li class="popup-addition__menu-list-item"><a class="popup-addition__menu-list-item-link" href="#">Пример</a></li>
      </ul>
    </div>
  </div>
</section>