<section class="popup-call popup-call--closed">
  <button class="popup-call__closed" aria-label="Закрыть окно формы"></button>
  <h2 class="popup-call__title">Заказать звонок</h2>
  <form class="popup-call__form form-send" method="post" action="" enctype="multipart/form-data">
    <input class="form-send__field form-send__field--popup form-send__name" type="text" name="full-name" placeholder="Имя">
    <input class="form-send__field form-send__field--popup form-send__phone" type="text" name="phone" placeholder="Телефон">
    <a class="form-send__link form-send__link--popup" href="#">Я согласен на обработку персональных данных</a>
    <button class="form-send__button-send" aria-label="Отправить заявку">Оставить заявку</button>
  </form>
</section>