.slider{
	&__item{
		min-height: 100vh;
	}
	&-nav{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		transform: rotate(180deg);
		.slick-slide{
			border: 0;
			transform: rotate(-180deg);
		}
	}
}