<section class="page-main__about about">
  <div class="about__content">
    <ul class="about__content-list services-list">
      <li class="services-list__item"><a class="services-list__item-link" href="#">Разработка сайтов</a></li>
      <li class="services-list__item"><a class="services-list__item-link" href="#">Дизайн</a></li>
      <li class="services-list__item"><a class="services-list__item-link" href="#">Tech. поддержка</a></li>
      <li class="services-list__item"><a class="services-list__item-link" href="#">Реклама</a></li>
    </ul>
  </div>
  <div class="about__addition about__addition--orange">
    <div class="about__addition-wrapper">
      <span class="about__addition-work">Работаем <br> с 2014 года</span>
      <span class="about__addition-projects"><span class="about__addition-project-count">500 +</span> <span class="about__addition-project-text">проектов</span></span>
    </div>
  </div>
</section>