<nav class="main-nav main-nav--closed main-nav--nojs">
  <a class="main-nav__logo logo" href="#">
    <span class="logo__first">La</span> <span class="logo__second">Chatte</span>
  </a>

  <button class="main-nav__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
  <ul class="page-header__main-menu main-menu">
    <li class="main-menu__item">
      <a class="main-menu__item-link main-menu__item-link--current" href="#">Портфолио</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__item-link" href="#">Услуги</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__item-link" href="#">О нас</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__item-link" href="#">Отзывы</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__item-link" href="#">Контакты</a>
    </li>
    <li class="main-menu__item main-menu__item--addition">
      <button class="main-menu__item-link main-menu__item-link--addition" href="#"><span class="visually-hidden">Дополнительное меню</span></button>
    </li>
  </ul>
  <button class="main-nav__phone" type="button">
    <div class="main-nav__phone-text">
      <span class="main-nav__phone-number">+7 (123) 45-67-89</span>
      <span class="main-nav__phone-description">заказать звонок</span>
    </div>
  </button>
</nav>