<section class="popup-application popup-application--closed">
  <h3 class="popup-application__title">Оставить заявку</h3>
  <form class="form-send container-fluid" method="post" action="" enctype="multipart/form-data">
    <div class="row">
      <div class="form-send__item-wrapper col-lg-6">
        <input class="form-send__field form-send__name" type="text" name="full-name" placeholder="Имя">
      </div>
      <div class="form-send__item-wrapper col-lg-6">
        <input class="form-send__field form-send__phone" type="text" name="phone" placeholder="Телефон">
      </div>
      <div class="form-send__item-wrapper col-lg-6">
        <a class="form-send__link form-send__link--development" href="#">Я согласен на обработку персональных данных</a>
      </div>
      <div class="form-send__item-wrapper form-send__item-wrapper--button col-lg-6">
        <button class="form-send__send" type="button" aria-label="Отправить заявку">Оставить заявку</button>
      </div>
    </div>
  </form>
</section>