<section class="page-work-card__about about">
  <div class="about__aside">
    <h1 class="about__aside-title">Разработка сайта</h1>
    <p class="about__aside-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст</p>
  </div>
  <div class="about__sale">
    <span class="about__sale-title">Примерная акция</span>
    //= link-description.html
  </div>
</section>