<section class="page-work-card__services services">
  <h2 class="visually-hidden">Услуги</h2>
  <ul class="services__list">
    <li class="services__list-item">
      <div class="services__list-item-card card">
        <h3 class="card__title">Разработка сайтов</h3>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <a class="card__link" href="#">Подробнее</a>
      </div>
    </li>
    <li class="services__list-item">
      <div class="services__list-item-card card">
        <h3 class="card__title">Разработка сайтов</h3>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <a class="card__link" href="#">Подробнее</a>
      </div>
    </li>
    <li class="services__list-item">
      <div class="services__list-item-card card">
        <h3 class="card__title">Разработка сайтов</h3>
        <span class="card__subtitle">Установка 1С-Битрикс, готового решения, базовая настройка основных параметров сайта готового решения</span>
        <a class="card__link" href="#">Подробнее</a>
      </div>
    </li>
  </ul>
</section>