<nav class="work-nav work-nav--closed">
  <a class="work-nav__image" href="#"><img src="images/logo-work.png" alt="Логотип компании"></a>
  <ul class="work-nav__list work-menu">
    <li class="work-menu__item"><a class="work-menu__item-link" href="#">Портфолио</a></li>
    <li class="work-menu__item"><a class="work-menu__item-link" href="#">Услуги</a></li>
    <li class="work-menu__item"><a class="work-menu__item-link" href="#">О нас</a></li>
    <li class="work-menu__item"><a class="work-menu__item-link" href="#">Отзывы</a></li>
    <li class="work-menu__item"><a class="work-menu__item-link" href="#">Контакты</a></li>
  </ul>
  <button class="work-nav__toggle"><span class="visually-hidden">Открыть меню сайта</span></button>
  <ul class="work-nav__list-addition">
    <li class="work-nav__list-addition-item">
      <button class="work-nav__list-addition-item-button"><span class="visually-hidden">Открыть меню</span></button>
    </li>
  </ul>
</nav>