.work-site-card {
  &__about {
    padding-bottom: 6.5%;
  }
  &__package-content {
    padding-bottom: 173px;
  }
  &__our-work {
    padding-bottom: 166px;
  }
  &__our-advantages {
    padding-bottom: 180px;
  }
}