@mixin icon-close {
  &__closed {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: var(--main-black);
      box-shadow: none;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
@mixin arrow {
  &__button-inner {
    width: 2px;
    background: var(--main-white);
    height: 100%;
    max-height: 106px;
    margin: 0 auto;
    &::before, 
    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 10px;
      background: var(--main-white);
    }
    &::before {
      transform: rotate(-45deg);
      left: 55%;
    }
    &::after {
      transform: rotate(45deg);
      right: 56%;
    }
  }
}
@mixin adaptive-font ($min-font, $min-width, $max-font, $max-width) {
  // https://habr.com/ru/company/mailru/blog/315196/
  // 110px - 28px = 82px
  $different-fonts: $max-font - $min-font;
  // 1920 - 320px = 1600px
  $different-width: $max-width - $min-width;
  // 82 / 1600 = 0.05px
  $coefficient-px: $different-fonts / $different-width;
  // 28 - 0.05 * 320 = 12
  $coefficient: $min-font - $coefficient-px * $min-width;
  // calc(0.05 * 100vw + 12px)

  //
  font-size: $min-font; //размер шрифта на $min-width и ниже разрешении экрана
  @media (min-width: $min-width) {
    font-size: calc(#{$coefficient-px} * 100vw + #{$coefficient});
  }
  @media (min-width: $max-width) {
    font-size: $max-font; //размер шрифта на $max-width и выше разрешении экрана
  }
}

// adaptive greed
@mixin after-desktop {
  @media (min-width: $desktop-width) { @content; }
}
@mixin after-tablet {
  @media (min-width: $tablet-width) { @content; }
}
@mixin before-tablet {
  @media (max-width: $tablet-width) { @content; }
}
@mixin before-mobile {
  @media (max-width: $mobile-width-only) { @content; }
}