$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// main colors 
:root {
  --main-black: #303030;
  --main-white: #fff;
  --main-orange: #f46e60;
  --main-green: #83ca54;
  --main-blue: #34538b;
  --menu-gray: #a7a7a7;
  --main-light-grey: #a0b4d0;
  --main-charcoal-gray: #3d4041;
}
// blocks colors
.main-nav {
  --menu-black: #000;
}
.popup-addition__menu {
  --menu-black: #000;
}
.night-mode {
  --night-mode-black: #333333;
}