$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// main colors 
$orange: #f46e60;
$green: #83ca54;
$light-grey-blue: #a0b4d0;
$denim-blue: #34538b;
$black: #303030;
$black-two: #141414;
$greyish: #a7a7a7;
$charcoal-grey: #3d4041;